<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-editors-menu" label="Editors">
  <item label="nano">
    <action name="Execute">
      <command>st -e nano</command>
    </action>
  </item>
  <item label="Neovim">
    <action name="Execute">
      <command>st -e nvim</command>
    </action>
  </item>
  <item label="Sublime Text 3">
    <action name="Execute">
      <command>subl3</command>
    </action>
  </item>
</menu>

<menu id="apps-term-menu" label="Terminals">
  <item label="st">
    <action name="Execute">
      <command>st</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="ncmpcpp">
    <action name="Execute">
      <command>st -e ncmpcpp</command>
    </action>
  </item>
  <item label="Spotify">
    <action name="Execute">
      <command>spotify</command>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="PCMan File Manager">
    <action name="Execute">
      <command>pcmanfm</command>
    </action>
  </item>
  <item label="ranger">
    <action name="Execute">
      <command>st -e ranger</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
    </action>
  </item>
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
  <item label="Restart Openbox">
    <action name="Restart" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-editors-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-term-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <item label="Logout">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>
