
!██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
!╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
! ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
!██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
!╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝


! Reread the file and apply the settings:
! xrdb -load ~/.Xresources


! Theme
#include "/home/ma/.colors/palenight-colors"


! dwm colors
!dwm.normbordercolor: #434C5E
!dwm.normbgcolor:     #2E3440
!dwm.normfgcolor:     #D8DEE9
!dwm.selbordercolor:  #5E81AC
!dwm.selbgcolor:      #5E81AC
!dwm.selfgcolor:      #ECEFF4


! dmenu colors
!dmenu.background:    #2E3440
!dmenu.foreground:    #D8DEE9
!dmenu.selbackground: #5E81AC
!dmenu.selforeground: #ECEFF4


! slock colors
!slock.init:          #2E3440
!slock.input:         #5E81AC
!slock.failed:        #BF616A
!slock.caps:          #EBCB8B


! Color scheme
! special
!*.foreground:        #d8dee9
!*.background:        #2E3440
!*.alpha:            1.0

! black
!*.color0:            #2E3440
!*.color8:            #4c566a

! red
!*.color1:            #bf616a
!*.color9:            #bf616a

! green
!*.color2:            #a3be8c
!*.color10:           #a3be8c

! yellow
!*.color3:            #ebcb8b
!*.color11:           #ebcb8b

! blue
!*.color4:            #81a1c1
!*.color12:           #81a1c1

! magenta
!*.color5:            #b48ead
!*.color13:           #b48ead

! cyan
!*.color6:            #88c0d0
!*.color14:           #8fbcbb

! white
!*.color7:            #e5e9f0
!*.color15:           #eceff4


! Font
st.font:                DejaVu Sans Mono:pixelsize=15:antialias=true:autohint=true
dmenu.font:             Roboto:style=Bold:size=10
