!
!██╗  ██╗██████╗ ███████╗███████╗ ██████╗ ██╗   ██╗██████╗  ██████╗███████╗███████╗
!╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ╚███╔╝ ██████╔╝█████╗  ███████╗██║   ██║██║   ██║██████╔╝██║     █████╗  ███████╗
! ██╔██╗ ██╔══██╗██╔══╝  ╚════██║██║   ██║██║   ██║██╔══██╗██║     ██╔══╝  ╚════██║
!██╔╝ ██╗██║  ██║███████╗███████║╚██████╔╝╚██████╔╝██║  ██║╚██████╗███████╗███████║
!╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
!


! Reread the file and apply the settings:
! xrdb -load ~/.Xresources


! Theme
#include "/home/ma/.colors/dracula-colors"


! dwm colors

!dwm.normbordercolor: #434C5E
!dwm.normbgcolor:     #2E3440
!dwm.normfgcolor:     #D8DEE9
!dwm.selbordercolor:  #5E81AC
!dwm.selbgcolor:      #5E81AC
!dwm.selfgcolor:      #ECEFF4


! dmenu colors

!dmenu.font:          Roboto:style=Bold:size=10
!dmenu.background:    #2E3440
!dmenu.foreground:    #D8DEE9
!dmenu.selbackground: #5E81AC
!dmenu.selforeground: #ECEFF4


! slock colors
!slock.init:          #2E3440
!slock.input:         #5E81AC
!slock.failed:        #BF616A
!slock.caps:          #EBCB8B


! ---- Terminal settings ---- !

! Color theme
! special
!*.foreground:        #d8dee9
!*.background:        #2E3440
!*.alpha:            1.0

! black
!*.color0:            #2E3440
!*.color8:            #4c566a

! red
!*.color1:            #bf616a
!*.color9:            #bf616a

! green
!*.color2:            #a3be8c
!*.color10:           #a3be8c

! yellow
!*.color3:            #ebcb8b
!*.color11:           #ebcb8b

! blue
!*.color4:            #81a1c1
!*.color12:           #81a1c1

! magenta
!*.color5:            #b48ead
!*.color13:           #b48ead

! cyan
!*.color6:            #88c0d0
!*.color14:           #8fbcbb

! white
!*.color7:            #e5e9f0
!*.color15:           #eceff4


! Window geometry 

URxvt.geometry:         60x22
URxvt.loginShell:       false
URxvt.meta:             ignore
URxvt.utmpInhibit:      true
URxvt.internalBorder:   20


! Font

!*.font:                 DejaVu Sans Mono:pixelsize=15:antialias=true:autohint=true
!URxvt*font:xft:         xos4 Terminus:size=8
!URxvt.letterSpace:     -1


! Scrollback buffer

URxvt.secondaryWheel:   1


! Cursor

URxvt.cursorUnderline:  1
URxvt.cursorBlink:      true
URxvt.cursorColor:      white


! Man-pages color

URxvt.colorMode:         on
URxvt.boldColors:        on
URxvt.dynamicColors:     on
URxvt.colorULMode:       on
URxvt.underLine:         off
URxvt.colorBDMode:       on
URxvt.colorBD:           cyan


! Scrollbar

URxvt*scrollBar:        false
URxvt*scrollBar_right:  true
URxvt*scrollstyle:      rxvt


! Clickable URLs

URxvt.perl-ext-common: 	default,matcher,resize-font
URxvt.url-launcher: 	/usr/bin/chromium
URxvt.matcher.button: 	1
URxvt.colorUL:          cyan
URxvt.underlineURLs:    true
URxvt.underlineColor:   cyan


! Save number lines in the scrollback buffer

URxvt*saveLines:        2000


! Changing font size on the fly

*.resize-font.smaller:  C-Down
*.resize-font.bigger:   C-Up
