# Folders
alias home="cd $HOME"
alias config="cd $HOME/.config/"
alias downloads="cd $HOME/Downloads/"
alias music="cd $HOME/music/"
alias images="cd $HOME/wallpapers/"
alias dotfiles="cd $HOME/dotfiles/"
alias cd-='cd -'
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'

# Files
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ls='ls --color=auto --group-directories-first'
alias ll='ls -lh --color=auto --group-directories-first'
alias la='ls -Ah --color=auto'
alias lla='ll -lAh'
alias cp='cp -v'
alias rm='rm -v'
alias mv='mv -v'

# Pacman
alias install='sudo pacman -S'
alias remove='sudo pacman -R'
alias update='sudo pacman -Syu --noconfirm'
alias sp='sudo pacman'

# System
alias pls='sudo'
alias ka='killall'

# Xresources
alias xconf="nvim $HOME/.Xresources"
alias xreload="xrdb -load $HOME/.Xresources"

# GitHub
alias gs='git status'
alias gl='git log'
alias ga='git add'
alias gaa='git add -A'
alias gal='git add .'
alias gall='git add .'
alias gca='git commit -a'
alias gcd="git commit -m "$(date '+%d/%m/%y-%H:%M')""
alias gc='git commit -m'
alias gcot='git checkout'
alias gchekout='git checkout'
alias go='git push -u origin'

# Media
alias watch='mpv --ytdl-format="bestvideo[ext=mp4][height<=?720]+bestaudio[ext=m4a]" $1'
alias start-minidlna="rm $HOME/.config/minidlna/cache/files.db; minidlnad -f /home/$USER/.config/minidlna/minidlna.conf -P /home/$USER/.config/minidlna/minidlna.pid"
alias stop-minidlna='killall minidlnad'
alias sxiv='sxiv -b'

# Colors
alias setwallpaper="$HOME/scripts/setwall.sh"
alias colortest="$HOME/scripts/colortest.sh"

# Scripts
alias info="$HOME/scripts/tfetch.sh"
alias lock="$HOME/scripts/lock.sh"
alias power-menu="$HOME/scripts/power-menu.sh"
alias scrot-menu="$HOME/scripts/scrot-menu.sh"

# Rebuild
alias dwm-rebuild="cd $HOME/build/dwm; make; sudo make clean install; home"
alias st-rebuild="cd $HOME/build/st; make; sudo make clean install; home"
alias slock-rebuild="cd $HOME/build/slock; make; sudo make clean install; home"
alias dmenu-rebuild="cd $HOME/build/dmenu; make; sudo make clean install; home"

# Games
alias minecraft="$HOME/.games/Minecraft_1.15.2/start.sh & exit"

# Other
alias ping='ping -c 5'
alias off='sleep 1; xset dpms force off'
alias subl='subl3'
alias todo='$HOME/scripts/bigtodo.sh'
alias x='startx $HOME/.xinitrc'
alias picom-blur="picom --config $HOME/.config/picom.conf --blur-method 'dual_kawase' --blur-strength 6 --experimental-backends --backend 'glx' &!"

# Shell
alias c='clear'
alias h='history'
alias :q='exit'
alias bye='exit'

# Info
alias cpuinfo='lscpu'
alias usage='du -ch | grep total'
alias totalusage='df -hl --total'
alias partusage='df -hlT --exclude-type=tmpfs --exclude-type=devtmpfs'
alias mostusage='du -hsx * | sort -rh | head -10'
alias now='date +%T'
